<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 1.0290218137446863" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.0290218137446863" rpy="0 0 0"/>
            <geometry>
                <box size="0.31876533960322706 0.4893973735862133 0.6443784562653745" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.0290218137446863" rpy="0 0 0"/>
            <geometry>
                <box size="0.31876533960322706 0.4893973735862133 0.6443784562653745" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.0 -0.24469868679310666 1.0290218137446863" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 -0.24224638376785435 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.24224638376785435 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2871354752856993 0.4844927675357087 0.3677316113381343" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.24224638376785435 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2871354752856993 0.4844927675357087 0.3677316113381343" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 1.3512110418773735" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 0.0 0.24961956957550774" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.24961956957550774" rpy="0 0 0"/>
            <geometry>
                <box size="0.20030032382924992 0.2437279635750203 0.4992391391510155" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.24961956957550774" rpy="0 0 0"/>
            <geometry>
                <box size="0.20030032382924992 0.2437279635750203 0.4992391391510155" />
            </geometry>
        </collision>
    </link>
</robot>