<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 1.7199488768408107" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.7199488768408107" rpy="0 0 0"/>
            <geometry>
                <box size="0.5574752528539411 0.9276216059446938 0.3500692794438252" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.7199488768408107" rpy="0 0 0"/>
            <geometry>
                <box size="0.5574752528539411 0.9276216059446938 0.3500692794438252" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube00" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube00"/>
       <origin rpy="0 0 0" xyz="0.0 0.4638108029723469 1.7199488768408107" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube00">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube00_Cube10" type="revolute">
       <parent link="Cube00"/>
       <child  link="Cube10"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube10">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube10_Link1" type="revolute">
       <parent link="Cube10"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 0.4153276392951871 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.4153276392951871 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.23383164089738875 0.8306552785903742 0.33525509250302243" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.4153276392951871 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.23383164089738875 0.8306552785903742 0.33525509250302243" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube01" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube01"/>
       <origin rpy="0 0 0" xyz="0.0 -0.4638108029723469 1.7199488768408107" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube01">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube01_Link2" type="revolute">
       <parent link="Cube01"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 -0.4294685935448129 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.4294685935448129 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.635304278099672 0.8589371870896259 0.38375771569469513" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.4294685935448129 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.635304278099672 0.8589371870896259 0.38375771569469513" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.317652139049836 -0.4294685935448129 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.3119753173251725 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3119753173251725 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.623950634650345 0.28649268192130495 0.34882822727329454" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3119753173251725 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.623950634650345 0.28649268192130495 0.34882822727329454" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.623950634650345 0.0 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.2426959626504835 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2426959626504835 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.485391925300967 0.46769422498467883 0.5099768044611813" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2426959626504835 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.485391925300967 0.46769422498467883 0.5099768044611813" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube04" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube04"/>
       <origin rpy="0 0 0" xyz="-0.317652139049836 -0.4294685935448129 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube04">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube04_Link5" type="revolute">
       <parent link="Cube04"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.12132917236729979 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.12132917236729979 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24265834473459957 0.2591399297407387 0.2615991160419362" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.12132917236729979 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24265834473459957 0.2591399297407387 0.2615991160419362" />
            </geometry>
        </collision>
    </link>
</robot>