<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 0.968709832548438" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.968709832548438" rpy="0 0 0"/>
            <geometry>
                <box size="0.3846784510250295 0.5203194836137699 0.5347994579936592" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.968709832548438" rpy="0 0 0"/>
            <geometry>
                <box size="0.3846784510250295 0.5203194836137699 0.5347994579936592" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 1.2361095615452675" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 0.0 0.1992062284068483" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.1992062284068483" rpy="0 0 0"/>
            <geometry>
                <box size="0.42344218963979946 0.3507306867609895 0.3984124568136966" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.1992062284068483" rpy="0 0 0"/>
            <geometry>
                <box size="0.42344218963979946 0.3507306867609895 0.3984124568136966" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.7013101035516084" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 0.0 -0.227056793009155" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.227056793009155" rpy="0 0 0"/>
            <geometry>
                <box size="0.38848701067875924 0.33870655026292307 0.45411358601831" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.227056793009155" rpy="0 0 0"/>
            <geometry>
                <box size="0.38848701067875924 0.33870655026292307 0.45411358601831" />
            </geometry>
        </collision>
    </link>
</robot>