<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.7433338581795903" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.7433338581795903" rpy="0 0 0"/>
            <geometry>
                <box size="0.31989578928036677 0.7185950385781992 0.2868005431076445" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.7433338581795903" rpy="0 0 0"/>
            <geometry>
                <box size="0.31989578928036677 0.7185950385781992 0.2868005431076445" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.0 -0.3592975192890996 2.7433338581795903" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 -0.21940601595735432 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.21940601595735432 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4899322019442198 0.43881203191470863 0.3460245837842655" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.21940601595735432 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4899322019442198 0.43881203191470863 0.3460245837842655" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube01" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube01"/>
       <origin rpy="0 0 0" xyz="0.0 0.3592975192890996 2.7433338581795903" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube01">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube01_Cube11" type="revolute">
       <parent link="Cube01"/>
       <child  link="Cube11"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube11">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube11_Link2" type="revolute">
       <parent link="Cube11"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 0.358929624280412 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.358929624280412 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2548521981562125 0.717859248560824 0.2883539015345842" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.358929624280412 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2548521981562125 0.717859248560824 0.2883539015345842" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube02" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube02"/>
       <origin rpy="0 0 0" xyz="0.0 0.717859248560824 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube02">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube02_Link3" type="revolute">
       <parent link="Cube02"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 0.2653243974546824 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.2653243974546824 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.619841947865416 0.5306487949093648 0.57638645227205" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.2653243974546824 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.619841947865416 0.5306487949093648 0.57638645227205" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Cube03" type="revolute">
       <parent link="Link1"/>
       <child  link="Cube03"/>
       <origin rpy="0 0 0" xyz="0.0 -0.43881203191470863 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube03">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube03_Link4" type="revolute">
       <parent link="Cube03"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 -0.18958671329230825 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.18958671329230825 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3982468182754129 0.3791734265846165 0.24327810376867404" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.18958671329230825 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3982468182754129 0.3791734265846165 0.24327810376867404" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Cube04" type="revolute">
       <parent link="Link3"/>
       <child  link="Cube04"/>
       <origin rpy="0 0 0" xyz="-0.309920973932708 0.2653243974546824 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube04">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube04_Cube14" type="revolute">
       <parent link="Cube04"/>
       <child  link="Cube14"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube14">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube14_Link5" type="revolute">
       <parent link="Cube14"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.27860962900233666 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.27860962900233666 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5572192580046733 0.2290959094428919 0.579163153533871" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.27860962900233666 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5572192580046733 0.2290959094428919 0.579163153533871" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Cube05" type="revolute">
       <parent link="Link5"/>
       <child  link="Cube05"/>
       <origin rpy="0 0 0" xyz="-0.27860962900233666 0.0 0.2895815767669355" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube05">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube05_Link6" type="revolute">
       <parent link="Cube05"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0 0.0 0.28645433556939537" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.28645433556939537" rpy="0 0 0"/>
            <geometry>
                <box size="0.2620238771852981 0.43530743966226215 0.5729086711387907" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.28645433556939537" rpy="0 0 0"/>
            <geometry>
                <box size="0.2620238771852981 0.43530743966226215 0.5729086711387907" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Cube06" type="revolute">
       <parent link="Link5"/>
       <child  link="Cube06"/>
       <origin rpy="0 0 0" xyz="-0.27860962900233666 0.0 -0.2895815767669355" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube06">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube06_Cube16" type="revolute">
       <parent link="Cube06"/>
       <child  link="Cube16"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube16">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube16_Link7" type="revolute">
       <parent link="Cube16"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 0.0 -0.25876397305120113" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.25876397305120113" rpy="0 0 0"/>
            <geometry>
                <box size="0.25101614145872597 0.45720565669545404 0.5175279461024023" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.25876397305120113" rpy="0 0 0"/>
            <geometry>
                <box size="0.25101614145872597 0.45720565669545404 0.5175279461024023" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Cube07" type="revolute">
       <parent link="Link1"/>
       <child  link="Cube07"/>
       <origin rpy="0 0 0" xyz="0.2449661009721099 -0.21940601595735432 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube07">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube07_Link8" type="revolute">
       <parent link="Cube07"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0.237525734129844 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.237525734129844 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.475051468259688 0.4668877228850214 0.3239673522091824" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.237525734129844 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.475051468259688 0.4668877228850214 0.3239673522091824" />
            </geometry>
        </collision>
    </link>
</robot>