<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 1.1734225317913984" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.1734225317913984" rpy="0 0 0"/>
            <geometry>
                <box size="0.8587575831211187 0.39715469227152234 0.3881358830502233" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.1734225317913984" rpy="0 0 0"/>
            <geometry>
                <box size="0.8587575831211187 0.39715469227152234 0.3881358830502233" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-0.42937879156055936 0.0 1.1734225317913984" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="-0.2913804813461627 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2913804813461627 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5827609626923254 0.7083195668071904 0.6097982817315035" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2913804813461627 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5827609626923254 0.7083195668071904 0.6097982817315035" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.2913804813461627 0.3541597834035952 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 0.34415519208546047 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.34415519208546047 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6183187507406176 0.6883103841709209 0.611797340899233" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.34415519208546047 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6183187507406176 0.6883103841709209 0.611797340899233" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0.34415519208546047 -0.3058986704496165" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 0.0 -0.28046558297575774" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.28046558297575774" rpy="0 0 0"/>
            <geometry>
                <box size="0.42754392096998795 0.3305646991390505 0.5609311659515155" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.28046558297575774" rpy="0 0 0"/>
            <geometry>
                <box size="0.42754392096998795 0.3305646991390505 0.5609311659515155" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link4" type="revolute">
       <parent link="Link2"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 0.34415519208546047 0.3058986704496165" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 0.0 0.2958889080742069" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.2958889080742069" rpy="0 0 0"/>
            <geometry>
                <box size="0.5230141773134627 0.32137681694650866 0.5917778161484138" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.2958889080742069" rpy="0 0 0"/>
            <geometry>
                <box size="0.5230141773134627 0.32137681694650866 0.5917778161484138" />
            </geometry>
        </collision>
    </link>
</robot>