<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 1.1508827888273454" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.1508827888273454" rpy="0 0 0"/>
            <geometry>
                <box size="0.23450167239068442 0.6297157116606984 0.7603316949858736" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.1508827888273454" rpy="0 0 0"/>
            <geometry>
                <box size="0.23450167239068442 0.6297157116606984 0.7603316949858736" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.0 -0.3148578558303492 1.1508827888273454" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 -0.306416662451483 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.306416662451483 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6108076053287115 0.612833324902966 0.618831061699636" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.306416662451483 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6108076053287115 0.612833324902966 0.618831061699636" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 1.5310486363202822" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 0.0 0.2884378673275372" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.2884378673275372" rpy="0 0 0"/>
            <geometry>
                <box size="0.6606167736231617 0.6653262547225891 0.5768757346550744" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.2884378673275372" rpy="0 0 0"/>
            <geometry>
                <box size="0.6606167736231617 0.6653262547225891 0.5768757346550744" />
            </geometry>
        </collision>
    </link>
</robot>