<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.676989917210872" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.676989917210872" rpy="0 0 0"/>
            <geometry>
                <box size="0.4192264340974986 0.9807946797378664 0.44495097519645177" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.676989917210872" rpy="0 0 0"/>
            <geometry>
                <box size="0.4192264340974986 0.9807946797378664 0.44495097519645177" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube00" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube00"/>
       <origin rpy="0 0 0" xyz="0.0 -0.4903973398689332 2.676989917210872" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube00">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube00_Cube10" type="revolute">
       <parent link="Cube00"/>
       <child  link="Cube10"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube10">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube10_Link1" type="revolute">
       <parent link="Cube10"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 -0.45460251762159676 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.45460251762159676 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.585141508696851 0.9092050352431935 0.8027424497760665" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.45460251762159676 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.585141508696851 0.9092050352431935 0.8027424497760665" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.2096132170487493 0.0 2.676989917210872" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.18251403678936887 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.18251403678936887 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.36502807357873773 0.33008693127038874 0.3028669467929712" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.18251403678936887 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.36502807357873773 0.33008693127038874 0.3028669467929712" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link3" type="revolute">
       <parent link="Link0"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0.4903973398689332 2.676989917210872" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 0.46872978698138157 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.46872978698138157 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.221896923683361 0.9374595739627631 0.6098409926655424" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.46872978698138157 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.221896923683361 0.9374595739627631 0.6098409926655424" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link4" type="revolute">
       <parent link="Link1"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 -0.45460251762159676 -0.40137122488803323" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 0.0 -0.15247375331320387" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.15247375331320387" rpy="0 0 0"/>
            <geometry>
                <box size="0.2659989653300048 0.4955558848042365 0.30494750662640774" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.15247375331320387" rpy="0 0 0"/>
            <geometry>
                <box size="0.2659989653300048 0.4955558848042365 0.30494750662640774" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link5" type="revolute">
       <parent link="Link1"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 -0.45460251762159676 0.40137122488803323" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.0 0.0 0.2525423738580275" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.2525423738580275" rpy="0 0 0"/>
            <geometry>
                <box size="0.5388090093855278 0.562462070578797 0.505084747716055" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.2525423738580275" rpy="0 0 0"/>
            <geometry>
                <box size="0.5388090093855278 0.562462070578797 0.505084747716055" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link6" type="revolute">
       <parent link="Link3"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.0 0.9374595739627631 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0 0.2428460249001041 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.2428460249001041 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5693692583926686 0.4856920498002082 0.45370293336219886" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.2428460249001041 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5693692583926686 0.4856920498002082 0.45370293336219886" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Cube06" type="revolute">
       <parent link="Link3"/>
       <child  link="Cube06"/>
       <origin rpy="0 0 0" xyz="0.0 0.46872978698138157 0.3049204963327712" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube06">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube06_Link7" type="revolute">
       <parent link="Cube06"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 0.0 0.22450152253368852" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.22450152253368852" rpy="0 0 0"/>
            <geometry>
                <box size="0.2252933315138236 0.5000549215740332 0.44900304506737704" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.22450152253368852" rpy="0 0 0"/>
            <geometry>
                <box size="0.2252933315138236 0.5000549215740332 0.44900304506737704" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Link8" type="revolute">
       <parent link="Link6"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0.0 0.2428460249001041 0.22685146668109943" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0.0 0.0 0.13794337013683738" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.13794337013683738" rpy="0 0 0"/>
            <geometry>
                <box size="0.23575292866329747 0.27217227812233635 0.27588674027367477" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.13794337013683738" rpy="0 0 0"/>
            <geometry>
                <box size="0.23575292866329747 0.27217227812233635 0.27588674027367477" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link9" type="revolute">
       <parent link="Link5"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="-0.2694045046927639 0.0 0.2525423738580275" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link9">
        <inertial>
            <origin xyz="-0.10308492309317314 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.10308492309317314 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2061698461863463 0.22320065120231833 0.292377679273135" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.10308492309317314 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2061698461863463 0.22320065120231833 0.292377679273135" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Cube09" type="revolute">
       <parent link="Link6"/>
       <child  link="Cube09"/>
       <origin rpy="0 0 0" xyz="0.2846846291963343 0.2428460249001041 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube09">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube09_Link10" type="revolute">
       <parent link="Cube09"/>
       <child  link="Link10"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link10">
        <inertial>
            <origin xyz="0.2748907905421163 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2748907905421163 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5497815810842326 0.4680628240118684 0.47728591563560896" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2748907905421163 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5497815810842326 0.4680628240118684 0.47728591563560896" />
            </geometry>
        </collision>
    </link>
</robot>