<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 4.2319075412331655" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 4.2319075412331655" rpy="0 0 0"/>
            <geometry>
                <box size="0.8950588243732946 0.49098754604630435 0.6258273288726692" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 4.2319075412331655" rpy="0 0 0"/>
            <geometry>
                <box size="0.8950588243732946 0.49098754604630435 0.6258273288726692" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube00" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube00"/>
       <origin rpy="0 0 0" xyz="0.4475294121866473 0.0 4.2319075412331655" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube00">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube00_Link1" type="revolute">
       <parent link="Cube00"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.30204408114068426 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.30204408114068426 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6040881622813685 0.7054394645537403 0.5156305919669293" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.30204408114068426 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6040881622813685 0.7054394645537403 0.5156305919669293" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.4475294121866473 0.0 4.2319075412331655" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.2777318977052113 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2777318977052113 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5554637954104226 0.47959577087015265 0.29200597008126944" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2777318977052113 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5554637954104226 0.47959577087015265 0.29200597008126944" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link3" type="revolute">
       <parent link="Link1"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.30204408114068426 0.35271973227687015 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 0.3370076133272684 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.3370076133272684 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5952030726402928 0.6740152266545368 0.6828683507219334" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.3370076133272684 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5952030726402928 0.6740152266545368 0.6828683507219334" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link4" type="revolute">
       <parent link="Link0"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 3.918993876796831" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 0.0 -0.23928439524694045" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.23928439524694045" rpy="0 0 0"/>
            <geometry>
                <box size="0.2187260877100525 0.24865899715940198 0.4785687904938809" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.23928439524694045" rpy="0 0 0"/>
            <geometry>
                <box size="0.2187260877100525 0.24865899715940198 0.4785687904938809" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Cube04" type="revolute">
       <parent link="Link1"/>
       <child  link="Cube04"/>
       <origin rpy="0 0 0" xyz="0.30204408114068426 -0.35271973227687015 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube04">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube04_Cube14" type="revolute">
       <parent link="Cube04"/>
       <child  link="Cube14"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube14">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube14_Link5" type="revolute">
       <parent link="Cube14"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.0 -0.31813191011812014 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.31813191011812014 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2688471687177881 0.6362638202362403 0.5593229226003268" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.31813191011812014 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2688471687177881 0.6362638202362403 0.5593229226003268" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link6" type="revolute">
       <parent link="Link2"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="-0.5554637954104226 0.0 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="-0.2763850648526106 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2763850648526106 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5527701297052212 0.2789506025251221 0.4168450160515937" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2763850648526106 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5527701297052212 0.2789506025251221 0.4168450160515937" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link7" type="revolute">
       <parent link="Link3"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0.0 0.6740152266545368 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 0.19155678932144019 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.19155678932144019 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24314331838772657 0.38311357864288037 0.422684330298646" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.19155678932144019 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24314331838772657 0.38311357864288037 0.422684330298646" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube07" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube07"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 4.5448212056695" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube07">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube07_Cube17" type="revolute">
       <parent link="Cube07"/>
       <child  link="Cube17"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube17">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube17_Link8" type="revolute">
       <parent link="Cube17"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0.0 0.0 0.2917942700245808" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.2917942700245808" rpy="0 0 0"/>
            <geometry>
                <box size="0.2603765650301676 0.4835870309141753 0.5835885400491616" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.2917942700245808" rpy="0 0 0"/>
            <geometry>
                <box size="0.2603765650301676 0.4835870309141753 0.5835885400491616" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Cube08" type="revolute">
       <parent link="Link5"/>
       <child  link="Cube08"/>
       <origin rpy="0 0 0" xyz="0.0 -0.31813191011812014 -0.2796614613001634" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube08">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube08_Cube18" type="revolute">
       <parent link="Cube08"/>
       <child  link="Cube18"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube18">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube18_Link9" type="revolute">
       <parent link="Cube18"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link9">
        <inertial>
            <origin xyz="0.0 0.0 -0.2744532316699676" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.2744532316699676" rpy="0 0 0"/>
            <geometry>
                <box size="0.4609195855161213 0.4431281015072198 0.5489064633399352" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.2744532316699676" rpy="0 0 0"/>
            <geometry>
                <box size="0.4609195855161213 0.4431281015072198 0.5489064633399352" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link10" type="revolute">
       <parent link="Link4"/>
       <child  link="Link10"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 -0.4785687904938809" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link10">
        <inertial>
            <origin xyz="0.0 0.0 -0.19753908570263212" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.19753908570263212" rpy="0 0 0"/>
            <geometry>
                <box size="0.3429626321996143 0.3626436332138052 0.39507817140526424" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.19753908570263212" rpy="0 0 0"/>
            <geometry>
                <box size="0.3429626321996143 0.3626436332138052 0.39507817140526424" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Cube010" type="revolute">
       <parent link="Link1"/>
       <child  link="Cube010"/>
       <origin rpy="0 0 0" xyz="0.30204408114068426 0.0 -0.25781529598346464" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube010">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube010_Cube110" type="revolute">
       <parent link="Cube010"/>
       <child  link="Cube110"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube110">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube110_Link11" type="revolute">
       <parent link="Cube110"/>
       <child  link="Link11"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link11">
        <inertial>
            <origin xyz="0.0 0.0 -0.21495126375294166" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.21495126375294166" rpy="0 0 0"/>
            <geometry>
                <box size="0.22593937925510402 0.300413054908561 0.4299025275058833" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.21495126375294166" rpy="0 0 0"/>
            <geometry>
                <box size="0.22593937925510402 0.300413054908561 0.4299025275058833" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link12" type="revolute">
       <parent link="Link3"/>
       <child  link="Link12"/>
       <origin rpy="0 0 0" xyz="0.0 0.3370076133272684 -0.3414341753609667" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link12">
        <inertial>
            <origin xyz="0.0 0.0 -0.20524896515959884" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.20524896515959884" rpy="0 0 0"/>
            <geometry>
                <box size="0.5145148453676668 0.36953444552402415 0.4104979303191977" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.20524896515959884" rpy="0 0 0"/>
            <geometry>
                <box size="0.5145148453676668 0.36953444552402415 0.4104979303191977" />
            </geometry>
        </collision>
    </link>
    <joint name="Link12_Link13" type="revolute">
       <parent link="Link12"/>
       <child  link="Link13"/>
       <origin rpy="0 0 0" xyz="0.2572574226838334 0.0 -0.20524896515959884" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link13">
        <inertial>
            <origin xyz="0.20006016429415588 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.20006016429415588 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.40012032858831176 0.4179474297872127 0.2751302829332041" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.20006016429415588 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.40012032858831176 0.4179474297872127 0.2751302829332041" />
            </geometry>
        </collision>
    </link>
</robot>