<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 6.108077802758452" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 6.108077802758452" rpy="0 0 0"/>
            <geometry>
                <box size="0.5432223099145974 0.5876236668576189 0.7289502894287234" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 6.108077802758452" rpy="0 0 0"/>
            <geometry>
                <box size="0.5432223099145974 0.5876236668576189 0.7289502894287234" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube00" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube00"/>
       <origin rpy="0 0 0" xyz="0.0 -0.29381183342880945 6.108077802758452" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube00">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube00_Cube10" type="revolute">
       <parent link="Cube00"/>
       <child  link="Cube10"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube10">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube10_Link1" type="revolute">
       <parent link="Cube10"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 -0.18805744211681255 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.18805744211681255 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2676728471518433 0.3761148842336251 0.26519983234827005" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.18805744211681255 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2676728471518433 0.3761148842336251 0.26519983234827005" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube01" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube01"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 5.74360265804409" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube01">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube01_Link2" type="revolute">
       <parent link="Cube01"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 0.0 -0.34334077512746386" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.34334077512746386" rpy="0 0 0"/>
            <geometry>
                <box size="0.44133842536543366 0.21725374418381663 0.6866815502549277" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.34334077512746386" rpy="0 0 0"/>
            <geometry>
                <box size="0.44133842536543366 0.21725374418381663 0.6866815502549277" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link3" type="revolute">
       <parent link="Link0"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 6.472552947472814" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 0.0 0.2951461495921298" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.2951461495921298" rpy="0 0 0"/>
            <geometry>
                <box size="0.4981047691629747 0.3615393404439738 0.5902922991842596" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.2951461495921298" rpy="0 0 0"/>
            <geometry>
                <box size="0.4981047691629747 0.3615393404439738 0.5902922991842596" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.24905238458148735 0.0 0.2951461495921298" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.23537662826487762 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.23537662826487762 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.47075325652975525 0.40013913425073533 0.4124527598973113" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.23537662826487762 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.47075325652975525 0.40013913425073533 0.4124527598973113" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube04" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube04"/>
       <origin rpy="0 0 0" xyz="0.2716111549572987 0.0 6.108077802758452" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube04">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube04_Link5" type="revolute">
       <parent link="Cube04"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.17432389807343407 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.17432389807343407 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.34864779614686814 0.3077909522573954 0.2287876937176482" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.17432389807343407 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.34864779614686814 0.3077909522573954 0.2287876937176482" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube05" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube05"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 -0.6866815502549277" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube05">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube05_Link6" type="revolute">
       <parent link="Cube05"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0 0.0 -0.3053634965551121" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.3053634965551121" rpy="0 0 0"/>
            <geometry>
                <box size="0.2112694169804592 0.6303696757287875 0.6107269931102242" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.3053634965551121" rpy="0 0 0"/>
            <geometry>
                <box size="0.2112694169804592 0.6303696757287875 0.6107269931102242" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Link7" type="revolute">
       <parent link="Link6"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 -0.6107269931102242" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 0.0 -0.2761681761202315" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.2761681761202315" rpy="0 0 0"/>
            <geometry>
                <box size="0.401573634858024 0.2765948774665483 0.552336352240463" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.2761681761202315" rpy="0 0 0"/>
            <geometry>
                <box size="0.401573634858024 0.2765948774665483 0.552336352240463" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link8" type="revolute">
       <parent link="Link3"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0.24905238458148735 0.0 0.2951461495921298" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0.17542781471891544 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.17542781471891544 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3508556294378309 0.3974724497946664 0.23565116931836352" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.17542781471891544 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3508556294378309 0.3974724497946664 0.23565116931836352" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Cube08" type="revolute">
       <parent link="Link3"/>
       <child  link="Cube08"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.5902922991842596" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube08">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube08_Cube18" type="revolute">
       <parent link="Cube08"/>
       <child  link="Cube18"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube18">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube18_Link9" type="revolute">
       <parent link="Cube18"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link9">
        <inertial>
            <origin xyz="0.0 0.0 0.24780881317912892" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.24780881317912892" rpy="0 0 0"/>
            <geometry>
                <box size="0.30578571851056513 0.35075258362517714 0.49561762635825785" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.24780881317912892" rpy="0 0 0"/>
            <geometry>
                <box size="0.30578571851056513 0.35075258362517714 0.49561762635825785" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Link10" type="revolute">
       <parent link="Link6"/>
       <child  link="Link10"/>
       <origin rpy="0 0 0" xyz="0.0 0.3151848378643938 -0.3053634965551121" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link10">
        <inertial>
            <origin xyz="0.0 0.26458570865421505 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.26458570865421505 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3581426060215142 0.5291714173084301 0.44933623509406434" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.26458570865421505 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3581426060215142 0.5291714173084301 0.44933623509406434" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube010" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube010"/>
       <origin rpy="0 0 0" xyz="-0.2716111549572987 0.0 6.108077802758452" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube010">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube010_Link11" type="revolute">
       <parent link="Cube010"/>
       <child  link="Link11"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link11">
        <inertial>
            <origin xyz="-0.21868553296751553 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.21868553296751553 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.43737106593503106 0.4267102528044842 0.2779987462025248" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.21868553296751553 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.43737106593503106 0.4267102528044842 0.2779987462025248" />
            </geometry>
        </collision>
    </link>
    <joint name="Link10_Cube011" type="revolute">
       <parent link="Link10"/>
       <child  link="Cube011"/>
       <origin rpy="0 0 0" xyz="0.0 0.5291714173084301 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube011">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube011_Cube111" type="revolute">
       <parent link="Cube011"/>
       <child  link="Cube111"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube111">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube111_Link12" type="revolute">
       <parent link="Cube111"/>
       <child  link="Link12"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link12">
        <inertial>
            <origin xyz="0.0 0.23030324420656634 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.23030324420656634 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.38931579982869646 0.4606064884131327 0.4788628209786097" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.23030324420656634 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.38931579982869646 0.4606064884131327 0.4788628209786097" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link13" type="revolute">
       <parent link="Link0"/>
       <child  link="Link13"/>
       <origin rpy="0 0 0" xyz="0.0 0.29381183342880945 6.108077802758452" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link13">
        <inertial>
            <origin xyz="0.0 0.22831317070064172 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.22831317070064172 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3164407789385988 0.45662634140128344 0.2847561747550602" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.22831317070064172 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3164407789385988 0.45662634140128344 0.2847561747550602" />
            </geometry>
        </collision>
    </link>
    <joint name="Link12_Cube013" type="revolute">
       <parent link="Link12"/>
       <child  link="Cube013"/>
       <origin rpy="0 0 0" xyz="0.0 0.23030324420656634 -0.23943141048930486" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube013">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube013_Link14" type="revolute">
       <parent link="Cube013"/>
       <child  link="Link14"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link14">
        <inertial>
            <origin xyz="0.0 0.0 -0.1935394082959951" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.1935394082959951" rpy="0 0 0"/>
            <geometry>
                <box size="0.25566797982026207 0.34155235931032807 0.3870788165919902" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.1935394082959951" rpy="0 0 0"/>
            <geometry>
                <box size="0.25566797982026207 0.34155235931032807 0.3870788165919902" />
            </geometry>
        </collision>
    </link>
    <joint name="Link7_Cube014" type="revolute">
       <parent link="Link7"/>
       <child  link="Cube014"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 -0.552336352240463" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube014">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube014_Cube114" type="revolute">
       <parent link="Cube014"/>
       <child  link="Cube114"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube114">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube114_Link15" type="revolute">
       <parent link="Cube114"/>
       <child  link="Link15"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link15">
        <inertial>
            <origin xyz="0.0 0.0 -0.2641448077832431" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.2641448077832431" rpy="0 0 0"/>
            <geometry>
                <box size="0.45320551448081486 0.26126733313995976 0.5282896155664862" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.2641448077832431" rpy="0 0 0"/>
            <geometry>
                <box size="0.45320551448081486 0.26126733313995976 0.5282896155664862" />
            </geometry>
        </collision>
    </link>
    <joint name="Link15_Link16" type="revolute">
       <parent link="Link15"/>
       <child  link="Link16"/>
       <origin rpy="0 0 0" xyz="-0.22660275724040743 0.0 -0.2641448077832431" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link16">
        <inertial>
            <origin xyz="-0.19607616100395822 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.19607616100395822 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.39215232200791644 0.30832357858414544 0.22849601361647442" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.19607616100395822 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.39215232200791644 0.30832357858414544 0.22849601361647442" />
            </geometry>
        </collision>
    </link>
    <joint name="Link7_Link17" type="revolute">
       <parent link="Link7"/>
       <child  link="Link17"/>
       <origin rpy="0 0 0" xyz="-0.200786817429012 0.0 -0.2761681761202315" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link17">
        <inertial>
            <origin xyz="-0.17545560142341216 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.17545560142341216 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3509112028468243 0.29375316617791536 0.2317959306550905" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.17545560142341216 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3509112028468243 0.29375316617791536 0.2317959306550905" />
            </geometry>
        </collision>
    </link>
    <joint name="Link11_Cube017" type="revolute">
       <parent link="Link11"/>
       <child  link="Cube017"/>
       <origin rpy="0 0 0" xyz="-0.21868553296751553 -0.2133551264022421 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube017">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube017_Cube117" type="revolute">
       <parent link="Cube017"/>
       <child  link="Cube117"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube117">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube117_Link18" type="revolute">
       <parent link="Cube117"/>
       <child  link="Link18"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link18">
        <inertial>
            <origin xyz="0.0 -0.15392751971519691 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.15392751971519691 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.20069911852615815 0.30785503943039383 0.36463626198707777" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.15392751971519691 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.20069911852615815 0.30785503943039383 0.36463626198707777" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Cube018" type="revolute">
       <parent link="Link6"/>
       <child  link="Cube018"/>
       <origin rpy="0 0 0" xyz="0.0 -0.3151848378643938 -0.3053634965551121" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube018">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube018_Link19" type="revolute">
       <parent link="Cube018"/>
       <child  link="Link19"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link19">
        <inertial>
            <origin xyz="0.0 -0.2740185695833926 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.2740185695833926 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5386536675195097 0.5480371391667852 0.2052983522578404" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.2740185695833926 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5386536675195097 0.5480371391667852 0.2052983522578404" />
            </geometry>
        </collision>
    </link>
</robot>