<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 1.8519759863809189" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.8519759863809189" rpy="0 0 0"/>
            <geometry>
                <box size="0.38232212972417 0.8682126173419791 0.49620981894089033" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.8519759863809189" rpy="0 0 0"/>
            <geometry>
                <box size="0.38232212972417 0.8682126173419791 0.49620981894089033" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube00" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube00"/>
       <origin rpy="0 0 0" xyz="0.0 -0.43410630867098954 1.8519759863809189" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube00">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube00_Cube10" type="revolute">
       <parent link="Cube00"/>
       <child  link="Cube10"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube10">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube10_Link1" type="revolute">
       <parent link="Cube10"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 -0.24509316844086163 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.24509316844086163 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.48965980656814 0.49018633688172325 0.5745083919107266" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.24509316844086163 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.48965980656814 0.49018633688172325 0.5745083919107266" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Cube01" type="revolute">
       <parent link="Link1"/>
       <child  link="Cube01"/>
       <origin rpy="0 0 0" xyz="-0.24482990328407 -0.24509316844086163 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube01">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube01_Link2" type="revolute">
       <parent link="Cube01"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.24272336366124986 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.24272336366124986 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4854467273224997 0.4218252765958602 0.3557276080898806" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.24272336366124986 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4854467273224997 0.4218252765958602 0.3557276080898806" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Cube02" type="revolute">
       <parent link="Link1"/>
       <child  link="Cube02"/>
       <origin rpy="0 0 0" xyz="0.0 -0.24509316844086163 0.2872541959553633" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube02">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube02_Link3" type="revolute">
       <parent link="Cube02"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 0.0 0.2755334942478456" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.2755334942478456" rpy="0 0 0"/>
            <geometry>
                <box size="0.2822277444910958 0.5041424132024208 0.5510669884956912" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.2755334942478456" rpy="0 0 0"/>
            <geometry>
                <box size="0.2822277444910958 0.5041424132024208 0.5510669884956912" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube03" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube03"/>
       <origin rpy="0 0 0" xyz="-0.24272336366124986 0.0 0.1778638040449403" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube03">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube03_Cube13" type="revolute">
       <parent link="Cube03"/>
       <child  link="Cube13"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube13">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube13_Link4" type="revolute">
       <parent link="Cube13"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 0.0 0.14447508634693387" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.14447508634693387" rpy="0 0 0"/>
            <geometry>
                <box size="0.23328011384379688 0.2886515499054257 0.28895017269386775" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.14447508634693387" rpy="0 0 0"/>
            <geometry>
                <box size="0.23328011384379688 0.2886515499054257 0.28895017269386775" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link5" type="revolute">
       <parent link="Link0"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 0.43410630867098954 1.8519759863809189" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.0 0.33701167597694637 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.33701167597694637 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3741742636273741 0.6740233519538927 0.42664767147283866" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.33701167597694637 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3741742636273741 0.6740233519538927 0.42664767147283866" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link6" type="revolute">
       <parent link="Link3"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.5510669884956912" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0 0.0 0.26475270759537245" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.26475270759537245" rpy="0 0 0"/>
            <geometry>
                <box size="0.3369647879245755 0.29122013255319656 0.5295054151907449" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.26475270759537245" rpy="0 0 0"/>
            <geometry>
                <box size="0.3369647879245755 0.29122013255319656 0.5295054151907449" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Cube06" type="revolute">
       <parent link="Link5"/>
       <child  link="Cube06"/>
       <origin rpy="0 0 0" xyz="0.0 0.6740233519538927 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube06">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube06_Link7" type="revolute">
       <parent link="Cube06"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 0.33390378695066736 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.33390378695066736 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6686762089086313 0.6678075739013347 0.6394774260768241" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.33390378695066736 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6686762089086313 0.6678075739013347 0.6394774260768241" />
            </geometry>
        </collision>
    </link>
</robot>