<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 3.4245719247972604" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3.4245719247972604" rpy="0 0 0"/>
            <geometry>
                <box size="0.6163494018800173 0.9526072789623867 0.4236873523554747" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3.4245719247972604" rpy="0 0 0"/>
            <geometry>
                <box size="0.6163494018800173 0.9526072789623867 0.4236873523554747" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.0 0.47630363948119336 3.4245719247972604" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 0.2483416259376659 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.2483416259376659 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3626217644267946 0.4966832518753318 0.21273838036381365" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.2483416259376659 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3626217644267946 0.4966832518753318 0.21273838036381365" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.0 -0.47630363948119336 3.4245719247972604" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 -0.4385908881889372 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.4385908881889372 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6797393623768355 0.8771817763778744 0.7617006743966697" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.4385908881889372 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6797393623768355 0.8771817763778744 0.7617006743966697" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube02" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube02"/>
       <origin rpy="0 0 0" xyz="0.0 -0.4385908881889372 -0.38085033719833483" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube02">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube02_Link3" type="revolute">
       <parent link="Cube02"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 0.0 -0.27313437717891054" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.27313437717891054" rpy="0 0 0"/>
            <geometry>
                <box size="0.40615400324326006 0.23213949178804993 0.5462687543578211" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.27313437717891054" rpy="0 0 0"/>
            <geometry>
                <box size="0.40615400324326006 0.23213949178804993 0.5462687543578211" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube03" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube03"/>
       <origin rpy="0 0 0" xyz="0.0 -0.8771817763778744 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube03">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube03_Cube13" type="revolute">
       <parent link="Cube03"/>
       <child  link="Cube13"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube13">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube13_Link4" type="revolute">
       <parent link="Cube13"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 -0.2202623060340871 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.2202623060340871 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2749613673595388 0.4405246120681742 0.43439218993978534" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.2202623060340871 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2749613673595388 0.4405246120681742 0.43439218993978534" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube04" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube04"/>
       <origin rpy="0 0 0" xyz="0.0 -0.4385908881889372 0.38085033719833483" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube04">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube04_Cube14" type="revolute">
       <parent link="Cube04"/>
       <child  link="Cube14"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube14">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube14_Link5" type="revolute">
       <parent link="Cube14"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.0 0.0 0.1131035777138433" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.1131035777138433" rpy="0 0 0"/>
            <geometry>
                <box size="0.4781931924013913 0.39446018033758473 0.2262071554276866" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.1131035777138433" rpy="0 0 0"/>
            <geometry>
                <box size="0.4781931924013913 0.39446018033758473 0.2262071554276866" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube05" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube05"/>
       <origin rpy="0 0 0" xyz="0.33986968118841776 -0.4385908881889372 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube05">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube05_Link6" type="revolute">
       <parent link="Cube05"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.21085681483938765 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.21085681483938765 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4217136296787753 0.34819226762471744 0.3249206795122052" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.21085681483938765 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4217136296787753 0.34819226762471744 0.3249206795122052" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube06" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube06"/>
       <origin rpy="0 0 0" xyz="-0.33986968118841776 -0.4385908881889372 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube06">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube06_Cube16" type="revolute">
       <parent link="Cube06"/>
       <child  link="Cube16"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube16">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube16_Link7" type="revolute">
       <parent link="Cube16"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="-0.3083078347556911 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3083078347556911 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6166156695113822 0.6268158975030574 0.22945890357019183" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3083078347556911 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6166156695113822 0.6268158975030574 0.22945890357019183" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube07" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube07"/>
       <origin rpy="0 0 0" xyz="-0.30817470094000865 0.0 3.4245719247972604" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube07">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube07_Cube17" type="revolute">
       <parent link="Cube07"/>
       <child  link="Cube17"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube17">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube17_Link8" type="revolute">
       <parent link="Cube17"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="-0.2824320292814734 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2824320292814734 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5648640585629467 0.23154225109845453 0.5632808603765298" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2824320292814734 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5648640585629467 0.23154225109845453 0.5632808603765298" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link9" type="revolute">
       <parent link="Link0"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="0.30817470094000865 0.0 3.4245719247972604" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link9">
        <inertial>
            <origin xyz="0.29298230827723915 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.29298230827723915 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5859646165544783 0.31457871179292074 0.2869321310081417" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.29298230827723915 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5859646165544783 0.31457871179292074 0.2869321310081417" />
            </geometry>
        </collision>
    </link>
</robot>