<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 5.5192547288487965" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 5.5192547288487965" rpy="0 0 0"/>
            <geometry>
                <box size="0.8226721218648481 0.8488946931262757 0.5941439252842298" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 5.5192547288487965" rpy="0 0 0"/>
            <geometry>
                <box size="0.8226721218648481 0.8488946931262757 0.5941439252842298" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube00" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube00"/>
       <origin rpy="0 0 0" xyz="0.41133606093242403 0.0 5.5192547288487965" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube00">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube00_Link1" type="revolute">
       <parent link="Cube00"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.2605440644857392 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2605440644857392 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5210881289714784 0.5941205030904586 0.6290139310139333" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2605440644857392 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5210881289714784 0.5941205030904586 0.6290139310139333" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube01" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube01"/>
       <origin rpy="0 0 0" xyz="0.0 0.4244473465631379 5.5192547288487965" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube01">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube01_Cube11" type="revolute">
       <parent link="Cube01"/>
       <child  link="Cube11"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube11">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube11_Link2" type="revolute">
       <parent link="Cube11"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 0.2844387226140327 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.2844387226140327 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4248869175416484 0.5688774452280654 0.5357850818851283" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.2844387226140327 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4248869175416484 0.5688774452280654 0.5357850818851283" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube02" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube02"/>
       <origin rpy="0 0 0" xyz="0.0 -0.4244473465631379 5.5192547288487965" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube02">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube02_Cube12" type="revolute">
       <parent link="Cube02"/>
       <child  link="Cube12"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube12">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube12_Link3" type="revolute">
       <parent link="Cube12"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 -0.3367756165143728 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.3367756165143728 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.20733960547124816 0.6735512330287456 0.30414856823690245" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.3367756165143728 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.20733960547124816 0.6735512330287456 0.30414856823690245" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 -0.6735512330287456 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 -0.24414937265582828 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.24414937265582828 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5432516799159522 0.48829874531165657 0.5295538671100819" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.24414937265582828 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5432516799159522 0.48829874531165657 0.5295538671100819" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link5" type="revolute">
       <parent link="Link1"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.2605440644857392 0.0 0.31450696550696666" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.0 0.0 0.23390172404623685" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.23390172404623685" rpy="0 0 0"/>
            <geometry>
                <box size="0.3522997459861711 0.4058775844386777 0.4678034480924737" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.23390172404623685" rpy="0 0 0"/>
            <geometry>
                <box size="0.3522997459861711 0.4058775844386777 0.4678034480924737" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube05" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube05"/>
       <origin rpy="0 0 0" xyz="-0.41133606093242403 0.0 5.5192547288487965" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube05">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube05_Link6" type="revolute">
       <parent link="Cube05"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="-0.18841241041555257 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.18841241041555257 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.37682482083110513 0.2013916189651308 0.4904872696569549" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.18841241041555257 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.37682482083110513 0.2013916189651308 0.4904872696569549" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link7" type="revolute">
       <parent link="Link0"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 5.816326691490912" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 0.0 0.26985014853390843" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.26985014853390843" rpy="0 0 0"/>
            <geometry>
                <box size="0.314246191171732 0.3450442927075743 0.5397002970678169" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.26985014853390843" rpy="0 0 0"/>
            <geometry>
                <box size="0.314246191171732 0.3450442927075743 0.5397002970678169" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Cube07" type="revolute">
       <parent link="Link4"/>
       <child  link="Cube07"/>
       <origin rpy="0 0 0" xyz="0.0 -0.48829874531165657 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube07">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube07_Link8" type="revolute">
       <parent link="Cube07"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0.0 -0.2402568587428393 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.2402568587428393 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4126423207135713 0.4805137174856786 0.275595521650734" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.2402568587428393 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4126423207135713 0.4805137174856786 0.275595521650734" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link9" type="revolute">
       <parent link="Link1"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="0.2605440644857392 -0.2970602515452293 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link9">
        <inertial>
            <origin xyz="0.0 -0.22131290517672209 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.22131290517672209 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.44466866783320386 0.44262581035344417 0.5108725757817092" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.22131290517672209 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.44466866783320386 0.44262581035344417 0.5108725757817092" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link10" type="revolute">
       <parent link="Link4"/>
       <child  link="Link10"/>
       <origin rpy="0 0 0" xyz="0.0 -0.24414937265582828 -0.26477693355504095" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link10">
        <inertial>
            <origin xyz="0.0 0.0 -0.23688892474040948" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.23688892474040948" rpy="0 0 0"/>
            <geometry>
                <box size="0.3741569373880368 0.47181324659051915 0.47377784948081897" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.23688892474040948" rpy="0 0 0"/>
            <geometry>
                <box size="0.3741569373880368 0.47181324659051915 0.47377784948081897" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube010" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube010"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 5.222182766206681" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube010">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube010_Cube110" type="revolute">
       <parent link="Cube010"/>
       <child  link="Cube110"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube110">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube110_Link11" type="revolute">
       <parent link="Cube110"/>
       <child  link="Link11"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link11">
        <inertial>
            <origin xyz="0.0 0.0 -0.28224079588454365" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.28224079588454365" rpy="0 0 0"/>
            <geometry>
                <box size="0.5215140958508659 0.45246274901531225 0.5644815917690873" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.28224079588454365" rpy="0 0 0"/>
            <geometry>
                <box size="0.5215140958508659 0.45246274901531225 0.5644815917690873" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube011" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube011"/>
       <origin rpy="0 0 0" xyz="0.0 0.2844387226140327 0.26789254094256415" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube011">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube011_Link12" type="revolute">
       <parent link="Cube011"/>
       <child  link="Link12"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link12">
        <inertial>
            <origin xyz="0.0 0.0 0.26230589952223193" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.26230589952223193" rpy="0 0 0"/>
            <geometry>
                <box size="0.4780716225502946 0.4916053627656634 0.5246117990444639" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.26230589952223193" rpy="0 0 0"/>
            <geometry>
                <box size="0.4780716225502946 0.4916053627656634 0.5246117990444639" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Cube012" type="revolute">
       <parent link="Link6"/>
       <child  link="Cube012"/>
       <origin rpy="0 0 0" xyz="-0.18841241041555257 0.0 0.24524363482847744" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube012">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube012_Cube112" type="revolute">
       <parent link="Cube012"/>
       <child  link="Cube112"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube112">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube112_Link13" type="revolute">
       <parent link="Cube112"/>
       <child  link="Link13"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link13">
        <inertial>
            <origin xyz="0.0 0.0 0.18908639297753346" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.18908639297753346" rpy="0 0 0"/>
            <geometry>
                <box size="0.3676781141385617 0.2506628240997252 0.3781727859550669" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.18908639297753346" rpy="0 0 0"/>
            <geometry>
                <box size="0.3676781141385617 0.2506628240997252 0.3781727859550669" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Cube013" type="revolute">
       <parent link="Link1"/>
       <child  link="Cube013"/>
       <origin rpy="0 0 0" xyz="0.2605440644857392 0.0 -0.31450696550696666" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube013">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube013_Cube113" type="revolute">
       <parent link="Cube013"/>
       <child  link="Cube113"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube113">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube113_Link14" type="revolute">
       <parent link="Cube113"/>
       <child  link="Link14"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link14">
        <inertial>
            <origin xyz="0.0 0.0 -0.3132572848286964" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.3132572848286964" rpy="0 0 0"/>
            <geometry>
                <box size="0.5388705384991628 0.47147585942408077 0.6265145696573928" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.3132572848286964" rpy="0 0 0"/>
            <geometry>
                <box size="0.5388705384991628 0.47147585942408077 0.6265145696573928" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link15" type="revolute">
       <parent link="Link1"/>
       <child  link="Link15"/>
       <origin rpy="0 0 0" xyz="0.2605440644857392 0.2970602515452293 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link15">
        <inertial>
            <origin xyz="0.0 0.2836312129454247 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.2836312129454247 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28857487179243546 0.5672624258908494 0.5676858912197662" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.2836312129454247 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28857487179243546 0.5672624258908494 0.5676858912197662" />
            </geometry>
        </collision>
    </link>
    <joint name="Link15_Cube015" type="revolute">
       <parent link="Link15"/>
       <child  link="Cube015"/>
       <origin rpy="0 0 0" xyz="0.0 0.2836312129454247 0.2838429456098831" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube015">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube015_Cube115" type="revolute">
       <parent link="Cube015"/>
       <child  link="Cube115"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube115">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube115_Link16" type="revolute">
       <parent link="Cube115"/>
       <child  link="Link16"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link16">
        <inertial>
            <origin xyz="0.0 0.0 0.23418057185066218" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.23418057185066218" rpy="0 0 0"/>
            <geometry>
                <box size="0.48939106225952306 0.29076782981855837 0.46836114370132437" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.23418057185066218" rpy="0 0 0"/>
            <geometry>
                <box size="0.48939106225952306 0.29076782981855837 0.46836114370132437" />
            </geometry>
        </collision>
    </link>
    <joint name="Link14_Link17" type="revolute">
       <parent link="Link14"/>
       <child  link="Link17"/>
       <origin rpy="0 0 0" xyz="0.0 -0.23573792971204038 -0.3132572848286964" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link17">
        <inertial>
            <origin xyz="0.0 -0.13089048634342879 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.13089048634342879 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28076174592103276 0.26178097268685757 0.21829492057807195" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.13089048634342879 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28076174592103276 0.26178097268685757 0.21829492057807195" />
            </geometry>
        </collision>
    </link>
</robot>