<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 4.04370759896762" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 4.04370759896762" rpy="0 0 0"/>
            <geometry>
                <box size="0.8930241171336233 0.9414094388307157 0.8273803817401624" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 4.04370759896762" rpy="0 0 0"/>
            <geometry>
                <box size="0.8930241171336233 0.9414094388307157 0.8273803817401624" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 3.6300174080975385" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 0.0 -0.2533180792228108" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.2533180792228108" rpy="0 0 0"/>
            <geometry>
                <box size="0.6460087511527917 0.4448530057058975 0.5066361584456216" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.2533180792228108" rpy="0 0 0"/>
            <geometry>
                <box size="0.6460087511527917 0.4448530057058975 0.5066361584456216" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube01" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube01"/>
       <origin rpy="0 0 0" xyz="-0.44651205856681164 0.0 4.04370759896762" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube01">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube01_Link2" type="revolute">
       <parent link="Cube01"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.2270590891381442 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2270590891381442 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4541181782762884 0.34642571981234954 0.6149442301680166" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2270590891381442 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4541181782762884 0.34642571981234954 0.6149442301680166" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube02" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube02"/>
       <origin rpy="0 0 0" xyz="0.0 -0.47070471941535785 4.04370759896762" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube02">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube02_Cube12" type="revolute">
       <parent link="Cube02"/>
       <child  link="Cube12"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube12">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube12_Link3" type="revolute">
       <parent link="Cube12"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 -0.4476044390815086 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.4476044390815086 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6054431461252261 0.8952088781630172 0.30488489496445825" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.4476044390815086 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6054431461252261 0.8952088781630172 0.30488489496445825" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link4" type="revolute">
       <parent link="Link2"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.2270590891381442 0.0 0.3074721150840083" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 0.0 0.28309634527875366" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.28309634527875366" rpy="0 0 0"/>
            <geometry>
                <box size="0.47507123346826075 0.5760314850051647 0.5661926905575073" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.28309634527875366" rpy="0 0 0"/>
            <geometry>
                <box size="0.47507123346826075 0.5760314850051647 0.5661926905575073" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Cube04" type="revolute">
       <parent link="Link3"/>
       <child  link="Cube04"/>
       <origin rpy="0 0 0" xyz="0.0 -0.8952088781630172 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube04">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube04_Cube14" type="revolute">
       <parent link="Cube04"/>
       <child  link="Cube14"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube14">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube14_Link5" type="revolute">
       <parent link="Cube14"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.0 -0.40057681971526005 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.40057681971526005 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8343406706286665 0.8011536394305201 0.41143490358229695" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.40057681971526005 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8343406706286665 0.8011536394305201 0.41143490358229695" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube05" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube05"/>
       <origin rpy="0 0 0" xyz="0.0 0.47070471941535785 4.04370759896762" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube05">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube05_Link6" type="revolute">
       <parent link="Cube05"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0 0.3815933034606719 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.3815933034606719 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.21642403076183436 0.7631866069213438 0.4999595025811406" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.3815933034606719 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.21642403076183436 0.7631866069213438 0.4999595025811406" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Cube06" type="revolute">
       <parent link="Link5"/>
       <child  link="Cube06"/>
       <origin rpy="0 0 0" xyz="0.0 -0.8011536394305201 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube06">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube06_Link7" type="revolute">
       <parent link="Cube06"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 -0.38025084405425436 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.38025084405425436 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6162074818164021 0.7605016881085087 0.40122053024219906" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.38025084405425436 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6162074818164021 0.7605016881085087 0.40122053024219906" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube07" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube07"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 4.457397789837701" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube07">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube07_Link8" type="revolute">
       <parent link="Cube07"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0.0 0.0 0.29373053910604213" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.29373053910604213" rpy="0 0 0"/>
            <geometry>
                <box size="0.5945551523599539 0.4759450257382861 0.5874610782120843" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.29373053910604213" rpy="0 0 0"/>
            <geometry>
                <box size="0.5945551523599539 0.4759450257382861 0.5874610782120843" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link9" type="revolute">
       <parent link="Link0"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="0.44651205856681164 0.0 4.04370759896762" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link9">
        <inertial>
            <origin xyz="0.2851566854739088 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2851566854739088 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5703133709478176 0.37410967563508035 0.5812218276009553" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2851566854739088 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5703133709478176 0.37410967563508035 0.5812218276009553" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Cube09" type="revolute">
       <parent link="Link1"/>
       <child  link="Cube09"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 -0.5066361584456216" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube09">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube09_Cube19" type="revolute">
       <parent link="Cube09"/>
       <child  link="Cube19"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube19">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube19_Link10" type="revolute">
       <parent link="Cube19"/>
       <child  link="Link10"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link10">
        <inertial>
            <origin xyz="0.0 0.0 -0.2395919581805379" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.2395919581805379" rpy="0 0 0"/>
            <geometry>
                <box size="0.31012878005459216 0.3461837455666549 0.4791839163610758" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.2395919581805379" rpy="0 0 0"/>
            <geometry>
                <box size="0.31012878005459216 0.3461837455666549 0.4791839163610758" />
            </geometry>
        </collision>
    </link>
    <joint name="Link9_Cube010" type="revolute">
       <parent link="Link9"/>
       <child  link="Cube010"/>
       <origin rpy="0 0 0" xyz="0.2851566854739088 0.0 -0.29061091380047765" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube010">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube010_Cube110" type="revolute">
       <parent link="Cube010"/>
       <child  link="Cube110"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube110">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube110_Link11" type="revolute">
       <parent link="Cube110"/>
       <child  link="Link11"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link11">
        <inertial>
            <origin xyz="0.0 0.0 -0.25132762487166793" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.25132762487166793" rpy="0 0 0"/>
            <geometry>
                <box size="0.20733221715092381 0.4436501690477863 0.5026552497433359" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.25132762487166793" rpy="0 0 0"/>
            <geometry>
                <box size="0.20733221715092381 0.4436501690477863 0.5026552497433359" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Cube011" type="revolute">
       <parent link="Link1"/>
       <child  link="Cube011"/>
       <origin rpy="0 0 0" xyz="-0.32300437557639583 0.0 -0.2533180792228108" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube011">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube011_Link12" type="revolute">
       <parent link="Cube011"/>
       <child  link="Link12"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link12">
        <inertial>
            <origin xyz="-0.25124334737261833 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25124334737261833 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5024866947452367 0.5047263500371586 0.22155430589862724" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25124334737261833 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5024866947452367 0.5047263500371586 0.22155430589862724" />
            </geometry>
        </collision>
    </link>
</robot>