<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 0.9305276575075186" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.9305276575075186" rpy="0 0 0"/>
            <geometry>
                <box size="0.23057508081184006 0.27843744355634437 0.7321715207579846" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.9305276575075186" rpy="0 0 0"/>
            <geometry>
                <box size="0.23057508081184006 0.27843744355634437 0.7321715207579846" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.5644418971285263" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 0.0 -0.32995180570814686" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.32995180570814686" rpy="0 0 0"/>
            <geometry>
                <box size="0.33441598609252543 0.36391164148590793 0.6599036114162937" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.32995180570814686" rpy="0 0 0"/>
            <geometry>
                <box size="0.33441598609252543 0.36391164148590793 0.6599036114162937" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 1.296613417886511" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 0.0 0.3070531203331478" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.3070531203331478" rpy="0 0 0"/>
            <geometry>
                <box size="0.34163213350645033 0.34646331504621797 0.6141062406662956" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.3070531203331478" rpy="0 0 0"/>
            <geometry>
                <box size="0.34163213350645033 0.34646331504621797 0.6141062406662956" />
            </geometry>
        </collision>
    </link>
</robot>