<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 5.804138538762468" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 5.804138538762468" rpy="0 0 0"/>
            <geometry>
                <box size="0.23744090731369483 0.3100368972462296 0.6294183431359437" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 5.804138538762468" rpy="0 0 0"/>
            <geometry>
                <box size="0.23744090731369483 0.3100368972462296 0.6294183431359437" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 5.4894293671944965" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 0.0 -0.30553919331303503" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.30553919331303503" rpy="0 0 0"/>
            <geometry>
                <box size="0.22743574444994313 0.502488856784701 0.6110783866260701" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.30553919331303503" rpy="0 0 0"/>
            <geometry>
                <box size="0.22743574444994313 0.502488856784701 0.6110783866260701" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Cube01" type="revolute">
       <parent link="Link1"/>
       <child  link="Cube01"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 -0.6110783866260701" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube01">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube01_Link2" type="revolute">
       <parent link="Cube01"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 0.0 -0.19720998552043112" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.19720998552043112" rpy="0 0 0"/>
            <geometry>
                <box size="0.3321081597124292 0.26253777223527675 0.39441997104086224" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.19720998552043112" rpy="0 0 0"/>
            <geometry>
                <box size="0.3321081597124292 0.26253777223527675 0.39441997104086224" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link3" type="revolute">
       <parent link="Link1"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0.2512444283923505 -0.30553919331303503" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 0.20823274713720058 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.20823274713720058 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2861229867057513 0.41646549427440116 0.4500920910098163" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.20823274713720058 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2861229867057513 0.41646549427440116 0.4500920910098163" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube03" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube03"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 6.11884771033044" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube03">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube03_Link4" type="revolute">
       <parent link="Cube03"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 0.0 0.12358941245157783" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.12358941245157783" rpy="0 0 0"/>
            <geometry>
                <box size="0.40863785127450686 0.4291451559974644 0.24717882490315565" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.12358941245157783" rpy="0 0 0"/>
            <geometry>
                <box size="0.40863785127450686 0.4291451559974644 0.24717882490315565" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Cube04" type="revolute">
       <parent link="Link3"/>
       <child  link="Cube04"/>
       <origin rpy="0 0 0" xyz="0.0 0.20823274713720058 -0.22504604550490814" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube04">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube04_Cube14" type="revolute">
       <parent link="Cube04"/>
       <child  link="Cube14"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube14">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube14_Link5" type="revolute">
       <parent link="Cube14"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.0 0.0 -0.1281557640430577" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.1281557640430577" rpy="0 0 0"/>
            <geometry>
                <box size="0.23832523844752318 0.3025209088386658 0.2563115280861154" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.1281557640430577" rpy="0 0 0"/>
            <geometry>
                <box size="0.23832523844752318 0.3025209088386658 0.2563115280861154" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Cube05" type="revolute">
       <parent link="Link1"/>
       <child  link="Cube05"/>
       <origin rpy="0 0 0" xyz="0.0 -0.2512444283923505 -0.30553919331303503" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube05">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube05_Cube15" type="revolute">
       <parent link="Cube05"/>
       <child  link="Cube15"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube15">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube15_Link6" type="revolute">
       <parent link="Cube15"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0 -0.1648948018610975 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.1648948018610975 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.20674214962183354 0.329789603722195 0.2722889499438294" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.1648948018610975 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.20674214962183354 0.329789603722195 0.2722889499438294" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Cube06" type="revolute">
       <parent link="Link4"/>
       <child  link="Cube06"/>
       <origin rpy="0 0 0" xyz="0.0 0.2145725779987322 0.12358941245157783" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube06">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube06_Link7" type="revolute">
       <parent link="Cube06"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 0.1971749464292219 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.1971749464292219 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2900957326656968 0.3943498928584438 0.3216889499053637" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.1971749464292219 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2900957326656968 0.3943498928584438 0.3216889499053637" />
            </geometry>
        </collision>
    </link>
    <joint name="Link7_Cube07" type="revolute">
       <parent link="Link7"/>
       <child  link="Cube07"/>
       <origin rpy="0 0 0" xyz="0.0 0.3943498928584438 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube07">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube07_Link8" type="revolute">
       <parent link="Cube07"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0.0 0.16318014652271062 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.16318014652271062 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25813353204346506 0.32636029304542125 0.2353506557724667" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.16318014652271062 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25813353204346506 0.32636029304542125 0.2353506557724667" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Cube08" type="revolute">
       <parent link="Link3"/>
       <child  link="Cube08"/>
       <origin rpy="0 0 0" xyz="0.0 0.41646549427440116 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube08">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube08_Link9" type="revolute">
       <parent link="Cube08"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link9">
        <inertial>
            <origin xyz="0.0 0.17777796775913887 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.17777796775913887 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2567645988776753 0.35555593551827774 0.3174275363442709" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.17777796775913887 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2567645988776753 0.35555593551827774 0.3174275363442709" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link10" type="revolute">
       <parent link="Link4"/>
       <child  link="Link10"/>
       <origin rpy="0 0 0" xyz="0.0 -0.2145725779987322 0.12358941245157783" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link10">
        <inertial>
            <origin xyz="0.0 -0.2076645618615797 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.2076645618615797 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28922249932331207 0.4153291237231594 0.41752955002006087" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.2076645618615797 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28922249932331207 0.4153291237231594 0.41752955002006087" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Cube010" type="revolute">
       <parent link="Link3"/>
       <child  link="Cube010"/>
       <origin rpy="0 0 0" xyz="0.0 0.20823274713720058 0.22504604550490814" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube010">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube010_Cube110" type="revolute">
       <parent link="Cube010"/>
       <child  link="Cube110"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube110">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube110_Link11" type="revolute">
       <parent link="Cube110"/>
       <child  link="Link11"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link11">
        <inertial>
            <origin xyz="0.0 0.0 0.11516108910731582" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.11516108910731582" rpy="0 0 0"/>
            <geometry>
                <box size="0.22218939355384323 0.32795778747121435 0.23032217821463163" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.11516108910731582" rpy="0 0 0"/>
            <geometry>
                <box size="0.22218939355384323 0.32795778747121435 0.23032217821463163" />
            </geometry>
        </collision>
    </link>
    <joint name="Link9_Link12" type="revolute">
       <parent link="Link9"/>
       <child  link="Link12"/>
       <origin rpy="0 0 0" xyz="0.0 0.17777796775913887 0.15871376817213545" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link12">
        <inertial>
            <origin xyz="0.0 0.0 0.14661779606785708" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.14661779606785708" rpy="0 0 0"/>
            <geometry>
                <box size="0.30077212625174177 0.25547189976364254 0.29323559213571415" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.14661779606785708" rpy="0 0 0"/>
            <geometry>
                <box size="0.30077212625174177 0.25547189976364254 0.29323559213571415" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Cube012" type="revolute">
       <parent link="Link4"/>
       <child  link="Cube012"/>
       <origin rpy="0 0 0" xyz="-0.20431892563725343 0.0 0.12358941245157783" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube012">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube012_Link13" type="revolute">
       <parent link="Cube012"/>
       <child  link="Link13"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link13">
        <inertial>
            <origin xyz="-0.1776899380924855 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.1776899380924855 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.355379876184971 0.2859041926679671 0.2899459020311736" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.1776899380924855 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.355379876184971 0.2859041926679671 0.2899459020311736" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Cube013" type="revolute">
       <parent link="Link4"/>
       <child  link="Cube013"/>
       <origin rpy="0 0 0" xyz="0.20431892563725343 0.0 0.12358941245157783" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube013">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube013_Cube113" type="revolute">
       <parent link="Cube013"/>
       <child  link="Cube113"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube113">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube113_Link14" type="revolute">
       <parent link="Cube113"/>
       <child  link="Link14"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link14">
        <inertial>
            <origin xyz="0.20382068728511848 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.20382068728511848 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.40764137457023697 0.2152343899411153 0.20188694693960782" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.20382068728511848 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.40764137457023697 0.2152343899411153 0.20188694693960782" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube014" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube014"/>
       <origin rpy="0 0 0" xyz="0.1660540798562146 0.0 -0.19720998552043112" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube014">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube014_Link15" type="revolute">
       <parent link="Cube014"/>
       <child  link="Link15"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link15">
        <inertial>
            <origin xyz="0.1371134094548545 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1371134094548545 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.274226818909709 0.29231765808659543 0.2169956124827068" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1371134094548545 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.274226818909709 0.29231765808659543 0.2169956124827068" />
            </geometry>
        </collision>
    </link>
    <joint name="Link10_Link16" type="revolute">
       <parent link="Link10"/>
       <child  link="Link16"/>
       <origin rpy="0 0 0" xyz="0.0 -0.2076645618615797 -0.20876477501003043" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link16">
        <inertial>
            <origin xyz="0.0 0.0 -0.20645463637789524" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.20645463637789524" rpy="0 0 0"/>
            <geometry>
                <box size="0.3370994479007102 0.2426507971249242 0.4129092727557905" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.20645463637789524" rpy="0 0 0"/>
            <geometry>
                <box size="0.3370994479007102 0.2426507971249242 0.4129092727557905" />
            </geometry>
        </collision>
    </link>
    <joint name="Link16_Cube016" type="revolute">
       <parent link="Link16"/>
       <child  link="Cube016"/>
       <origin rpy="0 0 0" xyz="0.1685497239503551 0.0 -0.20645463637789524" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube016">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube016_Link17" type="revolute">
       <parent link="Cube016"/>
       <child  link="Link17"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link17">
        <inertial>
            <origin xyz="0.164988281031981 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.164988281031981 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.329976562063962 0.2040728233365302 0.2185773715797752" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.164988281031981 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.329976562063962 0.2040728233365302 0.2185773715797752" />
            </geometry>
        </collision>
    </link>
</robot>