<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 3.35242132411057" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3.35242132411057" rpy="0 0 0"/>
            <geometry>
                <box size="0.6662706579309006 0.2588161478529511 0.8624804148084042" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3.35242132411057" rpy="0 0 0"/>
            <geometry>
                <box size="0.6662706579309006 0.2588161478529511 0.8624804148084042" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube00" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube00"/>
       <origin rpy="0 0 0" xyz="0.3331353289654503 0.0 3.35242132411057" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube00">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube00_Link1" type="revolute">
       <parent link="Cube00"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.14378848623312118 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.14378848623312118 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28757697246624236 0.23505408354144688 0.36842524884703043" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.14378848623312118 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28757697246624236 0.23505408354144688 0.36842524884703043" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 2.921181116706368" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 0.0 -0.18278105747657514" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.18278105747657514" rpy="0 0 0"/>
            <geometry>
                <box size="0.5201074429463994 0.609424476520665 0.3655621149531503" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.18278105747657514" rpy="0 0 0"/>
            <geometry>
                <box size="0.5201074429463994 0.609424476520665 0.3655621149531503" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube02" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube02"/>
       <origin rpy="0 0 0" xyz="0.0 -0.3047122382603325 -0.18278105747657514" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube02">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube02_Cube12" type="revolute">
       <parent link="Cube02"/>
       <child  link="Cube12"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube12">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube12_Link3" type="revolute">
       <parent link="Cube12"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 -0.2917090655806204 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.2917090655806204 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4386834665888527 0.5834181311612407 0.35402575975676326" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.2917090655806204 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4386834665888527 0.5834181311612407 0.35402575975676326" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube03" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube03"/>
       <origin rpy="0 0 0" xyz="-0.3331353289654503 0.0 3.35242132411057" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube03">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube03_Link4" type="revolute">
       <parent link="Cube03"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.12985392619113384 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.12985392619113384 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2597078523822677 0.445428486183943 0.4094669976280753" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.12985392619113384 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2597078523822677 0.445428486183943 0.4094669976280753" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link5" type="revolute">
       <parent link="Link2"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.2600537214731997 0.0 -0.18278105747657514" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.24771289586947465 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.24771289586947465 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4954257917389493 0.2709297627386609 0.2935032638970377" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.24771289586947465 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4954257917389493 0.2709297627386609 0.2935032638970377" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link6" type="revolute">
       <parent link="Link2"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.0 0.3047122382603325 -0.18278105747657514" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0 0.15484476491144133 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.15484476491144133 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.43451313505289724 0.30968952982288267 0.45156259013970906" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.15484476491144133 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.43451313505289724 0.30968952982288267 0.45156259013970906" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube06" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube06"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 3.783661531514772" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube06">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube06_Link7" type="revolute">
       <parent link="Cube06"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 0.0 0.40336277165927525" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.40336277165927525" rpy="0 0 0"/>
            <geometry>
                <box size="0.36798487060757207 0.40295943438323933 0.8067255433185505" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.40336277165927525" rpy="0 0 0"/>
            <geometry>
                <box size="0.36798487060757207 0.40295943438323933 0.8067255433185505" />
            </geometry>
        </collision>
    </link>
    <joint name="Link7_Cube07" type="revolute">
       <parent link="Link7"/>
       <child  link="Cube07"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.8067255433185505" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube07">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube07_Link8" type="revolute">
       <parent link="Cube07"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0.0 0.0 0.34167445577898115" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.34167445577898115" rpy="0 0 0"/>
            <geometry>
                <box size="0.33916093120543356 0.28997754101499357 0.6833489115579623" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.34167445577898115" rpy="0 0 0"/>
            <geometry>
                <box size="0.33916093120543356 0.28997754101499357 0.6833489115579623" />
            </geometry>
        </collision>
    </link>
</robot>