<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.5772008017483987" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.5772008017483987" rpy="0 0 0"/>
            <geometry>
                <box size="0.9989431181863426 0.5482534538693458 0.3740374479932525" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.5772008017483987" rpy="0 0 0"/>
            <geometry>
                <box size="0.9989431181863426 0.5482534538693458 0.3740374479932525" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube00" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube00"/>
       <origin rpy="0 0 0" xyz="0.4994715590931713 0.0 2.5772008017483987" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube00">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube00_Link1" type="revolute">
       <parent link="Cube00"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.32284459925220044 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.32284459925220044 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6456891985044009 0.2833313601825704 0.5052975127186686" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.32284459925220044 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6456891985044009 0.2833313601825704 0.5052975127186686" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.6456891985044009 0.0 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.28939684798713433 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.28939684798713433 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5787936959742687 0.4813573423261418 0.24145549655390638" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.28939684798713433 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5787936959742687 0.4813573423261418 0.24145549655390638" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube02" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube02"/>
       <origin rpy="0 0 0" xyz="-0.4994715590931713 0.0 2.5772008017483987" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube02">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube02_Link3" type="revolute">
       <parent link="Cube02"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.19332652580734644 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.19332652580734644 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3866530516146929 0.679242025138679 0.5259935712514063" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.19332652580734644 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3866530516146929 0.679242025138679 0.5259935712514063" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube03" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube03"/>
       <origin rpy="0 0 0" xyz="0.0 0.2741267269346729 2.5772008017483987" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube03">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube03_Link4" type="revolute">
       <parent link="Cube03"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 0.2175222031352466 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.2175222031352466 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.45445977702768253 0.4350444062704932 0.2592542262433119" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.2175222031352466 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.45445977702768253 0.4350444062704932 0.2592542262433119" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link5" type="revolute">
       <parent link="Link2"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.5787936959742687 0.0 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.16240900862068602 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.16240900862068602 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.32481801724137205 0.28404962106917386 0.3316615805026314" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.16240900862068602 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.32481801724137205 0.28404962106917386 0.3316615805026314" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link6" type="revolute">
       <parent link="Link3"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="-0.19332652580734644 0.3396210125693395 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0 0.3055851031547131 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.3055851031547131 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.33800301579988845 0.6111702063094262 0.5530490660743794" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.3055851031547131 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.33800301579988845 0.6111702063094262 0.5530490660743794" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link7" type="revolute">
       <parent link="Link2"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0.28939684798713433 -0.2406786711630709 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 -0.14723070683402342 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.14723070683402342 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.34280143560581466 0.29446141366804685 0.35589260536001205" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.14723070683402342 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.34280143560581466 0.29446141366804685 0.35589260536001205" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Cube07" type="revolute">
       <parent link="Link3"/>
       <child  link="Cube07"/>
       <origin rpy="0 0 0" xyz="-0.19332652580734644 0.0 0.26299678562570317" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube07">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube07_Cube17" type="revolute">
       <parent link="Cube07"/>
       <child  link="Cube17"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube17">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube17_Link8" type="revolute">
       <parent link="Cube17"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0.0 0.0 0.10373168882965743" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.10373168882965743" rpy="0 0 0"/>
            <geometry>
                <box size="0.25477605582949886 0.2242373676813103 0.20746337765931486" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.10373168882965743" rpy="0 0 0"/>
            <geometry>
                <box size="0.25477605582949886 0.2242373676813103 0.20746337765931486" />
            </geometry>
        </collision>
    </link>
</robot>