<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 0.7711869227787735" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7711869227787735" rpy="0 0 0"/>
            <geometry>
                <box size="0.757251445202958 0.4413612748004929 0.26126914690775654" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7711869227787735" rpy="0 0 0"/>
            <geometry>
                <box size="0.757251445202958 0.4413612748004929 0.26126914690775654" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-0.378625722601479 0.0 0.7711869227787735" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="-0.21534383368847815 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.21534383368847815 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4306876673769563 0.2816524063758543 0.44925538346419125" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.21534383368847815 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4306876673769563 0.2816524063758543 0.44925538346419125" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.378625722601479 0.0 0.7711869227787735" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.2835365279889491 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2835365279889491 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5670730559778983 0.41480186080768083 0.5419858928632252" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2835365279889491 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5670730559778983 0.41480186080768083 0.5419858928632252" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube02" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube02"/>
       <origin rpy="0 0 0" xyz="0.2835365279889491 0.0 0.2709929464316126" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube02">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube02_Link3" type="revolute">
       <parent link="Cube02"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 0.0 0.26545977579266256" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.26545977579266256" rpy="0 0 0"/>
            <geometry>
                <box size="0.22320611666640292 0.44792175367918957 0.5309195515853251" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.26545977579266256" rpy="0 0 0"/>
            <geometry>
                <box size="0.22320611666640292 0.44792175367918957 0.5309195515853251" />
            </geometry>
        </collision>
    </link>
</robot>