<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 5.570690148268311" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 5.570690148268311" rpy="0 0 0"/>
            <geometry>
                <box size="0.48208467398601096 0.5202307921812978 0.9559956700607573" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 5.570690148268311" rpy="0 0 0"/>
            <geometry>
                <box size="0.48208467398601096 0.5202307921812978 0.9559956700607573" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube00" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube00"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 6.04868798329869" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube00">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube00_Cube10" type="revolute">
       <parent link="Cube00"/>
       <child  link="Cube10"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube10">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube10_Link1" type="revolute">
       <parent link="Cube10"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 0.0 0.3613684841809004" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.3613684841809004" rpy="0 0 0"/>
            <geometry>
                <box size="0.6502921683866304 0.48567594469264225 0.7227369683618008" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.3613684841809004" rpy="0 0 0"/>
            <geometry>
                <box size="0.6502921683866304 0.48567594469264225 0.7227369683618008" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube01" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube01"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 5.092692313237933" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube01">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube01_Link2" type="revolute">
       <parent link="Cube01"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 0.0 -0.45273795822388785" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.45273795822388785" rpy="0 0 0"/>
            <geometry>
                <box size="0.397106264959352 0.7515657615672593 0.9054759164477757" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.45273795822388785" rpy="0 0 0"/>
            <geometry>
                <box size="0.397106264959352 0.7515657615672593 0.9054759164477757" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube02" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube02"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 -0.9054759164477757" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube02">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube02_Link3" type="revolute">
       <parent link="Cube02"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 0.0 -0.38378929417735863" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.38378929417735863" rpy="0 0 0"/>
            <geometry>
                <box size="0.33177308168696884 0.8219503019926426 0.7675785883547173" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.38378929417735863" rpy="0 0 0"/>
            <geometry>
                <box size="0.33177308168696884 0.8219503019926426 0.7675785883547173" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 -0.4109751509963213 -0.38378929417735863" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 -0.3345173246625631 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.3345173246625631 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6346866917379075 0.6690346493251262 0.6139372880124557" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.3345173246625631 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6346866917379075 0.6690346493251262 0.6139372880124557" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Cube04" type="revolute">
       <parent link="Link4"/>
       <child  link="Cube04"/>
       <origin rpy="0 0 0" xyz="0.31734334586895374 -0.3345173246625631 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube04">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube04_Cube14" type="revolute">
       <parent link="Cube04"/>
       <child  link="Cube14"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube14">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube14_Link5" type="revolute">
       <parent link="Cube14"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.2709723102079734 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2709723102079734 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5419446204159468 0.5058892320990803 0.4656028794293061" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2709723102079734 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5419446204159468 0.5058892320990803 0.4656028794293061" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link6" type="revolute">
       <parent link="Link1"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.7227369683618008" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0 0.0 0.30082328348315635" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.30082328348315635" rpy="0 0 0"/>
            <geometry>
                <box size="0.3213943747914132 0.4689139965174442 0.6016465669663127" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.30082328348315635" rpy="0 0 0"/>
            <geometry>
                <box size="0.3213943747914132 0.4689139965174442 0.6016465669663127" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Cube06" type="revolute">
       <parent link="Link6"/>
       <child  link="Cube06"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.6016465669663127" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube06">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube06_Link7" type="revolute">
       <parent link="Cube06"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 0.0 0.22511827308367263" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.22511827308367263" rpy="0 0 0"/>
            <geometry>
                <box size="0.2510032830962283 0.48140187654283456 0.45023654616734526" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.22511827308367263" rpy="0 0 0"/>
            <geometry>
                <box size="0.2510032830962283 0.48140187654283456 0.45023654616734526" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Cube07" type="revolute">
       <parent link="Link2"/>
       <child  link="Cube07"/>
       <origin rpy="0 0 0" xyz="0.0 0.37578288078362965 -0.45273795822388785" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube07">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube07_Cube17" type="revolute">
       <parent link="Cube07"/>
       <child  link="Cube17"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube17">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube17_Link8" type="revolute">
       <parent link="Cube17"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0.0 0.28161863116664143 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.28161863116664143 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4827510265087136 0.5632372623332829 0.3465880411828162" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.28161863116664143 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4827510265087136 0.5632372623332829 0.3465880411828162" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link9" type="revolute">
       <parent link="Link2"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="0.0 -0.37578288078362965 -0.45273795822388785" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link9">
        <inertial>
            <origin xyz="0.0 -0.35779628606102143 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.35779628606102143 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5365737774929367 0.7155925721220429 0.48207991275600154" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.35779628606102143 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5365737774929367 0.7155925721220429 0.48207991275600154" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Cube09" type="revolute">
       <parent link="Link4"/>
       <child  link="Cube09"/>
       <origin rpy="0 0 0" xyz="-0.31734334586895374 -0.3345173246625631 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube09">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube09_Cube19" type="revolute">
       <parent link="Cube09"/>
       <child  link="Cube19"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube19">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube19_Link10" type="revolute">
       <parent link="Cube19"/>
       <child  link="Link10"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link10">
        <inertial>
            <origin xyz="-0.2208909514516676 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2208909514516676 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4417819029033352 0.20096670309163028 0.21893827693722231" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2208909514516676 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4417819029033352 0.20096670309163028 0.21893827693722231" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link11" type="revolute">
       <parent link="Link1"/>
       <child  link="Link11"/>
       <origin rpy="0 0 0" xyz="0.3251460841933152 0.0 0.3613684841809004" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link11">
        <inertial>
            <origin xyz="0.2961641944366453 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2961641944366453 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5923283888732906 0.3468733914164319 0.4506384134386041" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2961641944366453 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5923283888732906 0.3468733914164319 0.4506384134386041" />
            </geometry>
        </collision>
    </link>
    <joint name="Link7_Cube011" type="revolute">
       <parent link="Link7"/>
       <child  link="Cube011"/>
       <origin rpy="0 0 0" xyz="0.0 -0.24070093827141728 0.22511827308367263" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube011">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube011_Cube111" type="revolute">
       <parent link="Cube011"/>
       <child  link="Cube111"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube111">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube111_Link12" type="revolute">
       <parent link="Cube111"/>
       <child  link="Link12"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link12">
        <inertial>
            <origin xyz="0.0 -0.13425291335852918 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.13425291335852918 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2663787044778129 0.26850582671705836 0.28206481139618494" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.13425291335852918 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2663787044778129 0.26850582671705836 0.28206481139618494" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Cube012" type="revolute">
       <parent link="Link0"/>
       <child  link="Cube012"/>
       <origin rpy="0 0 0" xyz="-0.24104233699300548 0.0 5.570690148268311" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube012">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube012_Link13" type="revolute">
       <parent link="Cube012"/>
       <child  link="Link13"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link13">
        <inertial>
            <origin xyz="-0.16658134580403822 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.16658134580403822 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.33316269160807643 0.34894588929046 0.3760281573560398" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.16658134580403822 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.33316269160807643 0.34894588929046 0.3760281573560398" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Cube013" type="revolute">
       <parent link="Link3"/>
       <child  link="Cube013"/>
       <origin rpy="0 0 0" xyz="0.0 0.4109751509963213 -0.38378929417735863" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube013">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube013_Cube113" type="revolute">
       <parent link="Cube013"/>
       <child  link="Cube113"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube113">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube113_Link14" type="revolute">
       <parent link="Cube113"/>
       <child  link="Link14"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link14">
        <inertial>
            <origin xyz="0.0 0.32749569794123023 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.32749569794123023 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5379644661770042 0.6549913958824605 0.38315703819678765" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.32749569794123023 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5379644661770042 0.6549913958824605 0.38315703819678765" />
            </geometry>
        </collision>
    </link>
    <joint name="Link11_Cube014" type="revolute">
       <parent link="Link11"/>
       <child  link="Cube014"/>
       <origin rpy="0 0 0" xyz="0.2961641944366453 0.0 -0.22531920671930206" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube014">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube014_Link15" type="revolute">
       <parent link="Cube014"/>
       <child  link="Link15"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link15">
        <inertial>
            <origin xyz="0.0 0.0 -0.11580627688844469" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.11580627688844469" rpy="0 0 0"/>
            <geometry>
                <box size="0.32066518771263297 0.2465762488986231 0.23161255377688938" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.11580627688844469" rpy="0 0 0"/>
            <geometry>
                <box size="0.32066518771263297 0.2465762488986231 0.23161255377688938" />
            </geometry>
        </collision>
    </link>
    <joint name="Link11_Cube015" type="revolute">
       <parent link="Link11"/>
       <child  link="Cube015"/>
       <origin rpy="0 0 0" xyz="0.5923283888732906 0.0 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube015">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube015_Link16" type="revolute">
       <parent link="Cube015"/>
       <child  link="Link16"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link16">
        <inertial>
            <origin xyz="0.23951592904148655 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.23951592904148655 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4790318580829731 0.5004642210457484 0.3142491172595643" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.23951592904148655 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4790318580829731 0.5004642210457484 0.3142491172595643" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Cube016" type="revolute">
       <parent link="Link3"/>
       <child  link="Cube016"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 -0.7675785883547173" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube016">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube016_Cube116" type="revolute">
       <parent link="Cube016"/>
       <child  link="Cube116"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube116">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube116_Link17" type="revolute">
       <parent link="Cube116"/>
       <child  link="Link17"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link17">
        <inertial>
            <origin xyz="0.0 0.0 -0.2595990147613392" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.2595990147613392" rpy="0 0 0"/>
            <geometry>
                <box size="0.4046724376635735 0.2590575501823884 0.5191980295226784" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.2595990147613392" rpy="0 0 0"/>
            <geometry>
                <box size="0.4046724376635735 0.2590575501823884 0.5191980295226784" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Cube017" type="revolute">
       <parent link="Link6"/>
       <child  link="Cube017"/>
       <origin rpy="0 0 0" xyz="0.0 -0.2344569982587221 0.30082328348315635" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube017">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube017_Cube117" type="revolute">
       <parent link="Cube017"/>
       <child  link="Cube117"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube117">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube117_Link18" type="revolute">
       <parent link="Cube117"/>
       <child  link="Link18"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link18">
        <inertial>
            <origin xyz="0.0 -0.21675965205411862 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.21675965205411862 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.20042832471291785 0.43351930410823725 0.29376934420415957" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.21675965205411862 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.20042832471291785 0.43351930410823725 0.29376934420415957" />
            </geometry>
        </collision>
    </link>
</robot>