<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 1.156435750788352" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.156435750788352" rpy="0 0 0"/>
            <geometry>
                <box size="0.6082987352850542 0.7963653938659707 0.9273826375952263" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.156435750788352" rpy="0 0 0"/>
            <geometry>
                <box size="0.6082987352850542 0.7963653938659707 0.9273826375952263" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.6927444319907389" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.0 0.0 -0.45971697325325334" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.45971697325325334" rpy="0 0 0"/>
            <geometry>
                <box size="0.8439027304983973 0.26213338534304625 0.9194339465065067" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.45971697325325334" rpy="0 0 0"/>
            <geometry>
                <box size="0.8439027304983973 0.26213338534304625 0.9194339465065067" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Cube01" type="revolute">
       <parent link="Link1"/>
       <child  link="Cube01"/>
       <origin rpy="0 0 0" xyz="0.42195136524919863 0.0 -0.45971697325325334" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube01">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 0" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube01_Link2" type="revolute">
       <parent link="Cube01"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.39562795200840173 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.39562795200840173 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7912559040168035 0.46167306996746293 0.433100899016399" />
            </geometry>
            <material name="blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.39562795200840173 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7912559040168035 0.46167306996746293 0.433100899016399" />
            </geometry>
        </collision>
    </link>
</robot>